/* DestinationDetail.css */

html, body {
    /* Example background color */
    background-color: #efece2;
    margin: 0; /* Remove default body margin */
    height: 100%;
}

.app-container {
    display: flex;
    height: 100%;
    margin: 30px;
}


.left-panel {
    width: 60%; /* Adjust the width as needed */
    padding: 20px;
}

.addButtontip {
    background-color: #f5d6b8;
    color: black;
    border: none;
    padding: 5px 15px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 37%;
    transform: translateX(-50%);
    bottom: 25px; /* Adjust as needed */
}


.right-panel {
    width: 50%;
    padding: 20px;
    position: relative;
}


.details-page h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.details-page p {
    margin-bottom: 8px;
}

.tips-and-tricks-list {
    list-style-type: none;
    padding: 0;
}

.tips-and-tricks-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.tips-list-container ul {
    list-style: none;
    padding: 0;
}

.tips-list-container li {
    margin-bottom: 8px;
    font-size: 20px;
}
.tips-list-container li:not(:last-child) {
    border-bottom: 1px solid #BF8F62; /* Adjust the border color as needed */
}

.addButtontip:hover {
    background-color:  #b19a82; /* Darker green on hover, adjust as needed */
}


.tips-list-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #BF8F62;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    /* background-color: #f5d7b883; /* Adjust the background color as needed */
    height:250px;
    width: 370px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFECE2;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 400px; /* Adjust max-width as needed */
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.Addtip{
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 10px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 998; /* Ensure the overlay is below the modal but above the rest of the content */
    /* display: none; */
}

.modal label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal button {
    background-color: #f5d6b8;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 50px;
    border-radius: 5px;
}

.modal button:hover {
    background-color: #b19a82;
}

.left-panel-content,
.right-panel-content {
    background-size: cover;
    background-position: center;
}

.tips-image {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust spacing as needed */
}

.tips-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.most-visited-section {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.most-visited-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;

}

.tips-list-container {
    overflow-y: auto; /* Enable vertical scrollbar when needed */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #BF8F62;
    border-radius: 8px;
    width: 370px;
}

.VoteChart {
    width: 100%; /* 100% width with 30px margins on both sides */
    margin: 0 auto; /* Center the chart horizontally */
}

/* Add your additional styling here */
.editButton,
.deleteButton,
.saveButton {
    background-color: #f5d6b8;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editButton:hover,
.deleteButton:hover,
.saveButton:hover {
    background-color: #e0bb9b;
}

.edit-input {
    background-color: #efece2;
    border: none;
    width: 100%;
}

.edit-mode-text {
    font-size: 2em; /* Adjust the font size as needed */
}

.vote-destination-widgets {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 200px;
    margin-left: 20px;
}
.vote-button {
    height: 35px;
}