
.app {
    display: flex;
    font-family: 'Quicksand', sans-serif;
  }
  
  .left-section-bucket,
  .right-section-bucket {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .left-section-bucket-content,
  .right-section-bucket-content {
    background-size: cover;
    background-position: center;
  }
  
  .right-section-bucket {
    margin-left: 20px; 
  }

.titleOfList {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: -30px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 15px;
  }

  .list-container {
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #BF8F62;
    border-radius: 8px;
    height:450px;
    width: 370px;
  }

  .filter-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5d6b8; 
    border-radius: 10px;
  }
  
  .filter-bar input {
    padding: 8px 25px;
    font-size: 14px;
    border: none; 
    border-radius: 10px;
    outline: none; 
  }
  
  .filter-bar select {
    padding: 8px;
    font-size: 14px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  .list-container h2 {
    color: #333;
  }
  
  .list-container ul {
    list-style: none;
    padding: 0;
  }
  
  .list-container li {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .list-container li:not(:last-child) {
    border-bottom: 1px solid #BF8F62;
  }
  .addButton {
    background-color: #f5d6b8;
  color: black;
  border: none;
  padding: 5px 15px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
    margin-left: 20px;
    position: absolute;

  }

  .button-and-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -30px;
    }

  .title-div {
    display: flex;
    align-items: center;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addButton:hover {
    background-color:  #b19a82; 
  }


  .questionButton {
    background-color:  #f5d6b8; 
    color: black;
    border: none;
    padding: 5px 15px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 15px; 
    border-radius: 5px;
  }
  
  .questionButton:hover {
    background-color:  #b19a82;
  }


  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFECE2;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 400px; 
    width: 100%;
    font-family: 'Quicksand', sans-serif;
  }
  .Addtitle{
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 10px;
  }

  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  
  .modal label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal button {
    background-color: #f5d6b8;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 50px;
    border-radius: 5px;
  }
  
  .modal button:hover {
    background-color: #b19a82;
  }

  .entity-actions .delete-icon {
    cursor: pointer;
    margin-right: 5px;
  }

  .entity-actions .delete-icon:hover {
    color: #dc1c1c;
  }

  .entity-actions .edit-icon {
    cursor: pointer;
    margin-right: 5px;
  }

  .entity-actions .edit-icon:hover {
    color: #969696;
  }

